<!-- extends base.html -->
{% extends "base.html" %}
{% from "macros.html" import render_form with context %}
{% block title %}{{page_title}}{% endblock %}
{% block content %}
  <div id='content'>
    <form action="" method="POST" role="form">
      {{ render_form(form) }}
    </form>

    {% if request.path != '/user/register' %}
      <a class="btn btn-large btn-info" href="{{ url_for('user.register') }}">Register</a>
    {% endif %}
    {% if request.path == '/user/login' %}
      <a class="btn btn-large btn-info" href="{{ url_for('user.forgot_password') }}">Forgot Password</a>
    {% endif %}
  </div><!-- end #content-->
{% endblock %}{% block footer %}
{% endblock %}
